.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
#canvas-container{
    height:500px;
}  