.canvas {
  /* border: 1px black dotted; */
  position: absolute;
  /* background-color: transparent; */
  /* margin: 0; */
  /* top:0px;
    bottom:0px;
    left:0px;
    right:0px */
}
#animation-drawing{
  z-index: 10;
}
#animation{
  z-index: 9;
}

#canvas-indicator{
  z-index: 1;
}
#canvas-ruler{
  z-index: 0;
}
#canvas-draft {
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: 1px blue dotted;
}
#canvas-real {
  z-index: 4;
  border: 1px black dotted;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.color-box {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 10% 20% repeat(12, 1fr);
  width: 100%;
  height: 800px;
}

#col-display {
  grid-row: 1/2;
  grid-column: 1/11;
}

#col-cont {
  grid-row: 2/3;
  grid-column: 1/11;
}

.xxs {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


#animation{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}